In [1]:
my_list = [10, 20, 30, 40, 50]
first_element = my_list[0]   
third_element = my_list[2]   
last_element = my_list[-1]   

print("List: ", my_list)
print("First element:", first_element)
print("Third element:", third_element)
print("Last element:", last_element)

List:  [10, 20, 30, 40, 50]
First element: 10
Third element: 30
Last element: 50

In [3]:
#tuple with 5 elements
my_tuple = (100, 200, 300, 400, 500)
second_element = my_tuple[1]   
fourth_element = my_tuple[3]   
last_element_tuple = my_tuple[-1]  

print("Tuple: ", my_tuple)
print("Second element:", second_element)
print("Fourth element:", fourth_element)
print("Last element:", last_element_tuple)

Tuple:  (100, 200, 300, 400, 500)
Second element: 200
Fourth element: 400
Last element: 500

In [5]:
#dictionary with 5 key-value pairs
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York',
    'job': 'Engineer',
    'country': 'USA'
}
name = my_dict['name']   
age = my_dict['age']    
city = my_dict.get('city')   
country = my_dict.get('country')
print("Dictionary:", my_dict)
print("Name:", name)
print("Age:", age)
print("City:", city)
print("Country:", country)

Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer', 'country': 'USA'}
Name: Alice
Age: 25
City: New York
Country: USA